@model IEnumerable<LOPC.Entities.Entities.BlogPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-heading panel-primary">
    <h1 class="text-center">All Blog Posts</h1>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th style="width:300px">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Post)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Image)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="width:300px">
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedBy)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>*@
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>

<hr/>
<p>
    @Html.ActionLink("Create A Blog", "Create", null, new { @class = "btn btn-primary" })
</p>